/* form elements */
.bj04{
	background:url('../images/hbv2/bj04.png') repeat-x;
}
.default_1{
	background:url('../images/hbv2/default_1.png') no-repeat;
}
.default_2{
	background:url('../images/hbv2/default_2.png') no-repeat;
}
.default_3{
	background:url('../images/hbv2/default_3.png') no-repeat;
}
.default_4{
	background:url('../images/hbv2/default_4.png') no-repeat;
}
.default_5{
	background:url('../images/hbv2/default_5.png') no-repeat;
}
.default_6{
	background:url('../images/hbv2/default_6.png') no-repeat;
}
.default_7{
	background:url('../images/hbv2/default_7.png') no-repeat;
}
