/* form elements */
.bj04{
	background:url('../images/hdhunan/bj04.png') repeat-x;
}
.default_1{
	background:url('../images/hdhunan/default_1.png') no-repeat;
}
.default_2{
	background:url('../images/hdhunan/default_2.png') no-repeat;
}
.default_3{
	background:url('../images/hdhunan/default_3.png') no-repeat;
}
.default_4{
	background:url('../images/hdhunan/default_4.png') no-repeat;
}
.default_5{
	background:url('../images/hdhunan/default_5.png') no-repeat;
}
.default_6{
	background:url('../images/hdhunan/default_6.png') no-repeat;
}
.default_7{
	background:url('../images/hdhunan/default_7.png') no-repeat;
}
.default_8{
	background:url('../images/hdhunan/default_8.png') no-repeat;
}
.default_9{
	background:url('../images/hdhunan/default_9.png') no-repeat;
}
.default_10{
	background:url('../images/hdhunan/default_10.png') no-repeat;
}
.default_11{
	background:url('../images/hdhunan/default_11.png') no-repeat;
}
.default_12{
	background:url('../images/hdhunan/default_12.png') no-repeat;
}
.default_13{
	background:url('../images/hdhunan/default_13.png') no-repeat;
}
.default_14{
	background:url('../images/hdhunan/default_14.png') no-repeat;
}