<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 让Spring去寻找jdbc.properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/jdbc.properties"/>
    </bean>

    <!-- 使Autowired注解生效 -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <!-- 本地dataSource配置 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 始化时创建的连接数，应在minPoolSize与maxPoolSize之间取值。默认为3； -->
        <property name="initialPoolSize" value="3"/>
        <!-- 接池中保留的最大连接数。默认为15 -->
        <property name="maxPoolSize" value="10"/>
        <!-- 最大空闲时间，超过空闲时间的连接将被丢弃。为0或负数则永不丢弃。默认为0； -->
        <property name="maxIdleTime" value="10000"/>
    </bean>

    <!-- 本地SessionFactory配置 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
        <!-- 扫描hibernate注解配置的entity -->
        <property name="packagesToScan" value="com.sunway.entity.tax"/>
    </bean>

    <!-- 国土dataSource配置 -->
    <bean id="dataSourceBDC" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${bdc.jdbc.driver}"/>
        <property name="jdbcUrl" value="${bdc.jdbc.url}"/>
        <property name="user" value="${bdc.jdbc.username}"/>
        <property name="password" value="${bdc.jdbc.password}"/>
        <!-- 始化时创建的连接数，应在minPoolSize与maxPoolSize之间取值。默认为3； -->
        <property name="initialPoolSize" value="3"/>
        <!-- 接池中保留的最大连接数。默认为15 -->
        <property name="maxPoolSize" value="10"/>
        <!-- 最大空闲时间，超过空闲时间的连接将被丢弃。为0或负数则永不丢弃。默认为0； -->
        <property name="maxIdleTime" value="10000"/>
    </bean>

    <!-- 国土SessionFactory配置 -->
    <bean id="sessionFactoryBDC" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSourceBDC"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${bdc.hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${bdc.hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${bdc.hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${bdc.hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
        <!-- 扫描hibernate注解配置的entity -->
        <property name="annotatedClasses">
            <list>
                <value>com.sunway.entity.tax.TaxSpfj</value>
                <value>com.sunway.entity.tax.TaxTsxx</value>
                <value>com.sunway.entity.tax.TaxShxx</value>
                <value>com.sunway.entity.tax.TaxWsxx</value>
                <value>com.sunway.entity.tax.TaxShjgDict</value>
            </list>
        </property>
    </bean>

    <!-- SpringMVC上传文件 PUT方法 -->
    <bean id="filterMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>

    <!-- 开启注解扫描包  -->
    <context:component-scan base-package="com.sunway.dao.impl"></context:component-scan>
    <context:component-scan base-package="com.sunway.service.impl"></context:component-scan>
    <context:component-scan base-package="com.sunway.function.impl"></context:component-scan>

</beans>